<div class="inner-container">
  <div class="logo">
    <img ng-src="{{logoPath}}">
  </div>
  <div class="record">
      <h1> Wins: {{teamData.wins}} Losses: {{teamData.loses}} </h1>
  </div>
  <div class="btn" ng-click="toggleNewGameForm()"> Add a New Game </div>
  <form ng-show="showNewGameForm" class="form">
    <span class="large">Opponent:</span> <br /><select ng-model="mySelected" ng-options="team for team in teams" class="form-control" required name="team"></select> <br /><br />
    <span class="large">Score:</span> <br /> {{homeTeam}} : <input class="inputs" type="text" ng-model="homeScore" placeholder="Home Score"> {{mySelected}}: <input type="text" class="inputs" ng-model="awayScore" placeholder="Opponent Score"> <br /><br />
    <button ng-click="submitGame()"> Submit Game </button>
  </form>
  <div class="team-data">
    <div class="game" ng-repeat="game in teamData" ng-class="{'even' : $index % 2 === 0}">
      Date: {{formatDate(teamData[$index].createdAt)}} <br />
      <!-- 
        The below question marks should render like this
        Utah Jazz (Or name of Team) - Score of the particular Game
        Opponent Name - Opponent Score for that Game
      -->

      {{homeTeam}} - {{teamData[$index].homeTeamScore}}<br />
      {{mySelected}} - {{teamData[$index].opponentScore}} </br />
    </div>
  </div>
</div>